/* Base */

:root {
  /* Dark mode*/
  --dark-primary-bg-color: #202124;
  --dark-alert-standard-color: #fafafa;
  --dark-alert-standard-color-bg: #292A2D;
  --dark-alert-info-color-bg: #454545;
  --dark-alert-success-color-bg: #454545;
  --dark-alert-warning-color-bg: #454545;
  --dark-alert-error-color-bg: #454545;
  --dark-esphome-background-header: #292A2D;

}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-primary-bg-color);
    }

    .page-footer{
        background-color: var(--dark-primary-footer-bg-color);
    }

    .esphome-header{
        background-color: var(--dark-esphome-background-header);
    }
}
