:root {
  /* Dark mode*/
  --dark-primary-bg-color: #202124;
  --dark-alert-standard-color: #fafafa;
  --dark-alert-standard-color-bg: #292A2D;
  --dark-alert-bg: #454545;
  --dark-esphome-background-header: #292A2D;
  --dark-card-background-color: #292A2D;
  --dark-primary-text-color: #a4a4a4;
  --dark-update-available-color: #636ed8;
  --dark-status-color: #ffffff;
  --HAssBlue: #41BDF5;
  --dark-alert-error-color: #931007;
}
